// General

.btn {
    position: relative;
    text-transform: $btn-text-transform;
    transition: $transition-base;
    will-change: transform;
    letter-spacing: $btn-letter-spacing;
    font-size: $input-btn-font-size;
    font-weight: $input-btn-font-wight;
    border-radius: 10px !important;

    &:hover {
        @include box-shadow($btn-hover-box-shadow);
        transform: translateY(-1px);
    }

    &:not(:last-child) {
        margin-right: 8px;
    }
}

.btn-group,
.input-group {
    .btn {
        margin-right: 0;
        transform: translateY(0);
    }
}

// Sizes

.btn-sm {
    font-size: $input-btn-font-size-sm;
}

.btn-lg {
    font-size: $input-btn-font-size-lg;
}

// Fixes

[class*="btn-outline-"] {
    border-width: 1px;
}

.btn-outline-secondary {
    color: darken(theme-color("secondary"), 50%);
}

.btn-inner--icon {
    i:not(.fa) {
        position: relative;
        top: 2px;
    }
}

.btn-link {
    font-weight: $btn-font-weight;
    box-shadow: none;

    &:hover {
        box-shadow: none;
        transform: none;
    }
}

.btn-neutral {
    color: theme-color("primary");
}

// Icons

.btn svg:not(:first-child),
.btn i:not(:first-child) {
    margin-left: 08px;
}

.btn svg:not(:last-child),
.btn i:not(:last-child) {
    margin-right: 08px;
}

// Icon labels

.btn-icon-label {
    position: relative;

    .btn-inner--icon {
        position: absolute;
        height: 100%;
        line-height: 1;
        border-radius: 0;
        text-align: center;
        margin: 0;
        width: 3em;
        background-color: rgba(0, 0, 0, .1);
    }

    .btn-inner--icon:not(:first-child) {
        right: 0;
        top: 0;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    .btn-inner--icon:not(:last-child) {
        left: 0;
        top: 0;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }

    .btn-inner--icon svg {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .btn-inner--text:not(:first-child) {
        padding-left: 3em;
    }

    .btn-inner--text:not(:last-child) {
        padding-right: 3em;
    }
}


// Icons

.btn-icon {
    .btn-inner--icon {
        img {
            width: 20px;
        }
    }

    .btn-inner--text:not(:first-child) {
        margin-left: .75em;
    }

    .btn-inner--text:not(:last-child) {
        margin-right: .75em;
    }
}

.btn-icon-only {
    width: 2.3780px;
    height: 2.3780px;
    padding: 0;
}

a.btn-icon-only {
    line-height: 2.5;
}

.btn-icon-only.btn-sm {
    width: 32px;
    height: 32px;
}


// Brand buttons
@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
    }
}
@each $color, $value in $brand-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
    }
}

@media screen and (max-width: 425px) {
    .btn-full-mobile {
        display: block;
        width: 100%;
    }
}

.btn-circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 20px;
}

.btn-circle-sm {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 17px;
    font-weight: 500;
    padding: 0 0 0 1px;
}

.btn-circle-md {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    padding: 0 0 0 1px;
}

.btn-arrow-prev::before {
    font-family: "Font Awesome 5 Free";
    content: "\f053";
    color: #ee786a;
    margin-right: 14px;
    margin-left: 1px;
    font-size: 13px;
    font-weight: bold;
}

.btn-arrow::after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    color: #ee786a;
    margin-left: 14px;
    font-size: 13px;
    font-weight: bold;
}
.btn-arrow-white::after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    color: #fff;
    margin-left: 14px;
    font-size: 16px;
    font-weight: bold;
}
.btn-primary.btn-arrow::after {
    color: #fff;
}
.btn-primary.btn-arrow-prev::before {
    color: #fff;
}
