.footer {
  padding: 0;
  position: fixed;
  bottom: 40px;
  right: 0;
  width: 92px;
  height: 1px;
  z-index: 99;
  .socials {
    margin-left: -27px;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 54px;
  }
}
@media (max-width: 1199px) {
  .footer {
    margin: 0 0 50px 0 !important;
    padding: 0!important;
    position: relative!important;
    bottom: auto!important;
    height: auto!important;
    width: 100%!important;
    .socials {
      margin-left: 0!important;
      position: relative!important;
      left: 0!important;
      width: 100%!important;
      text-align: center!important;
      font-size: 0!important;
    }
  }
}
